<% if is_new %>
  <% method = "post" %>
  <% url = "/events" %>
  <% start_time = @event.start_time %>
  <% end_time = @event.end_time %>
<% else %>
  <% method = "put" %>
  <% url = "/events/#{@event.id}" %>
  <% start_time = @event.start_time.strftime('%Y-%m-%d') %>
  <% end_time = @event.end_time.strftime('%Y-%m-%d') %>
<% end %>

<%= form_for(@event, html: {class: "form-horizontal", role: "form"}) do |f| %>
  <%= f.hidden_field :id, value: @event.id %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-4 control-label" %><br>
    <div class="col-sm-8">
      <%= f.text_field :name, required: true, value: @event.name, placeholder: "Name", class: "form-control" %>  
    </div>
  </div>

  <div class="form-group">
    <%= f.label :status, class: "col-sm-4 control-label" %><br>
    <div class="col-sm-8">
      <%= f.select(:status, options_for_select([["unlisted"], ["published"], ["hidden"]], @event.status), {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :start_time, class: "col-sm-4 control-label" %><br>
    <div class="col-sm-8">
      <%= f.date_field(:start_time, required: true, value: start_time, placeholder: "Start time", class: "form-control") %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :end_time, class: "col-sm-4 control-label" %><br>
    <div class="col-sm-8">
      <%= f.date_field(:end_time, required: true, value: end_time, placeholder: "End time", class: "form-control") %>
    </div>
  </div>

  <% if is_new %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="pull-right">
          <%= f.submit class: "btn btn-primary", value: "Save" %>
        </div>
        <div class="pull-let">
          <%= link_to 'Back', events_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  <% else %>
    </div>
    <div class="modal-footer ">
      <%= button_tag(type: 'submit', method: :put, class: "btn btn-warning btn-lg", style: "width: 100%;") do %>
        <span class='glyphicon glyphicon-ok-sign'></span> Update
      <% end %>
  <% end %>
<% end %>